
<footer id="footer" class="site-footer">

  <!-- Logos container -->
  <div style="
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    gap: 0; /* No gap between items */
  ">
    <img src="/img/AHBIC.png" alt="AHBIC" style="max-width: 150px;">
    <img src="/img/agrifutures.jpg" alt="AgriFugures" style="max-width: 150px;">
    <img src="/img/ANU.png" alt="ANU" style="max-width: 150px;">
    <img src="/img/ANU_BeeLab.png" alt="ANU Bee lab" style="max-width: 150px;">
    <img src="/img/NSW.jpg" alt="NSW Government" style="max-width: 150px;">
    <img src="/img/DAFF.png" alt="DAFF" style="max-width: 150px;">
  </div>

  <div class="copyright">
    {%- if site.copyright %}
      {{ site.copyright | markdownify }}
    {%- else %}
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}</p>
    {%- endif %}
  </div>

</footer>